USE [master]
GO
/****** Object:  Database [TheAudioDB_API]    Script Date: 1/27/2026 9:37:30 PM ******/
CREATE DATABASE [TheAudioDB_API]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TheAudioDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TheAudioDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TheAudioDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TheAudioDB.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TheAudioDB_API].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TheAudioDB_API]
GO
/****** Object:  Table [dbo].[albumData]    Script Date: 1/27/2026 9:37:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[albumData](
	[idAlbum] [bigint] NULL,
	[idArtist] [bigint] NULL,
	[idLabel] [bigint] NULL,
	[strAlbum] [varchar](150) NULL,
	[strAlbumStripped] [varchar](150) NULL,
	[strArtist] [varchar](150) NULL,
	[strArtistStripped] [varchar](150) NULL,
	[intYearReleased] [int] NULL,
	[strStyle] [varchar](50) NULL,
	[strGenre] [varchar](100) NULL,
	[strLabel] [varchar](50) NULL,
	[strReleaseFormat] [varchar](50) NULL,
	[strDiscogsID] [bigint] NULL,
	[strWikidataID] [varchar](50) NULL,
	[strWikipediaID] [varchar](150) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trackData]    Script Date: 1/27/2026 9:37:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trackData](
	[idTrack] [bigint] NULL,
	[idAlbum] [bigint] NULL,
	[idArtist] [bigint] NULL,
	[strTrack] [varchar](150) NULL,
	[strAlbum] [varchar](150) NULL,
	[intDuration] [bigint] NULL,
	[strGenre] [varchar](100) NULL,
	[intTrackNumber] [int] NULL,
	[intLoved] [float] NULL,
	[intScore] [float] NULL,
	[intScoreVotes] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[usp_AlbumData]    Script Date: 1/27/2026 9:37:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
	EXECUTE TheAudioDB_API.dbo.usp_AlbumData 'G:\JSON Artist Data\Arctic_Monkeys\Arctic_Monkeys_albumData_2026-01-16.json'
*/

CREATE PROCEDURE [dbo].[usp_AlbumData] (
	@file varchar(1000) 
)
AS
BEGIN

	DECLARE @JSON_OBJ VARCHAR(MAX)
	DECLARE @SQLCommand NVARCHAR(MAX) = 'SELECT @JSON_OBJ = BulkColumn FROM OPENROWSET(BULK ''' + @file + ''', SINGLE_CLOB) JSON'
	DECLARE @Params NVARCHAR(MAX) = '@JSON_OBJ VARCHAR(MAX) OUTPUT'
	DECLARE @DeleteCount INT = 0
	DECLARE @InsertCount INT = 0

	EXEC sp_executesql @SQLCommand, @Params, @JSON_OBJ OUTPUT

	IF(ISJSON(@JSON_OBJ) = 1)
		BEGIN
			/*	Pull JSON values to Temp Table	*/
			SELECT NULLIF(JSON_VALUE(A.VALUE, '$.idAlbum'),'') AS idAlbum,
				NULLIF(JSON_VALUE(A.VALUE, '$.idArtist'),'') AS idArtist,
				NULLIF(JSON_VALUE(A.VALUE, '$.idLabel'),'') AS idLabel,
				NULLIF(JSON_VALUE(A.VALUE, '$.strAlbum'),'') AS strAlbum,
				NULLIF(JSON_VALUE(A.VALUE, '$.strAlbumStripped'),'') AS strAlbumStripped,
				NULLIF(JSON_VALUE(A.VALUE, '$.strArtist'),'') AS strArtist,
				NULLIF(JSON_VALUE(A.VALUE, '$.strArtistStripped'),'') AS strArtistStripped,
				NULLIF(JSON_VALUE(A.VALUE, '$.intYearReleased'),'') AS intYearReleased,
				NULLIF(JSON_VALUE(A.VALUE, '$.strStyle'),'') AS strStyle,
				NULLIF(JSON_VALUE(A.VALUE, '$.strGenre'),'') AS strGenre,
				NULLIF(JSON_VALUE(A.VALUE, '$.strLabel'),'') AS strLabel,
				NULLIF(JSON_VALUE(A.VALUE, '$.strReleaseFormat'),'') AS strReleaseFormat,
				NULLIF(JSON_VALUE(A.VALUE, '$.strDiscogsID'),'') AS strDiscogsID,
				NULLIF(JSON_VALUE(A.VALUE, '$.strWikidataID'),'') AS strWikidataID,
				NULLIF(JSON_VALUE(A.VALUE, '$.strWikipediaID'),'') AS strWikipediaID
			INTO #AlbumData
			FROM OPENJSON (@JSON_OBJ, '$.album') AS A

			/*	Insert/update records into albumData table	*/
			DELETE FROM TheAudioDB_API.dbo.albumData 
			WHERE idAlbum IN (SELECT idAlbum FROM #AlbumData)

			SET @DeleteCount = @@ROWCOUNT

			INSERT INTO TheAudioDB_API.dbo.AlbumData (
				[idAlbum]
				,[idArtist]
				,[idLabel]
				,[strAlbum]
				,[strAlbumStripped]
				,[strArtist]
				,[strArtistStripped]
				,[intYearReleased]
				,[strStyle]
				,[strGenre]
				,[strLabel]
				,[strReleaseFormat]
				,[strDiscogsID]
				,[strWikidataID]
				,[strWikipediaID]	)
			SELECT [idAlbum]
				,[idArtist]
				,[idLabel]
				,[strAlbum]
				,[strAlbumStripped]
				,[strArtist]
				,[strArtistStripped]
				,[intYearReleased]
				,[strStyle]
				,[strGenre]
				,[strLabel]
				,[strReleaseFormat]
				,[strDiscogsID]
				,[strWikidataID]
				,[strWikipediaID]
			FROM #AlbumData

			SET @InsertCount = @@ROWCOUNT
			SELECT CONCAT(@DeleteCount, ' records deleted, ',@InsertCount, ' records inserted.')
		END

END
GO
/****** Object:  StoredProcedure [dbo].[usp_ExtractJSON]    Script Date: 1/27/2026 9:37:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
	EXECUTE TheAudioDB_API.dbo.usp_ExtractJSON '*InsertPathHere*'
*/

CREATE PROCEDURE [dbo].[usp_ExtractJSON](
	@folderPath varchar(1000) 
)
AS
BEGIN

	DECLARE @file VARCHAR(1000)
	DECLARE @fileName VARCHAR(500)

	/*	Create cursor to loop through all files in @folderLocation	*/
	DECLARE @fileList TABLE (
		FILE_NAME Nvarchar(500)
		,DEPTH int
		,IS_FILE int
	)

	INSERT INTO @fileList
	EXEC xp_DirTree @folderPath, 0,1

	DECLARE fileCursor CURSOR FOR
	SELECT FILE_NAME AS fileName,
		CONCAT(@folderPath,'\',FILE_NAME) AS [file]
	FROM @fileList

	OPEN fileCursor
	FETCH NEXT FROM fileCursor INTO @fileName, @file

	WHILE @@FETCH_STATUS = 0
	BEGIN
		--SELECT @file, 
		--CASE WHEN @file LIKE ('%albumData%') THEN 'ALBUM'
		--	WHEN @file LIKE ('%track%') THEN 'TRACK'
		--	ELSE 'UNKNOWN' END

		IF @fileName LIKE ('%albumData%')
			BEGIN
				EXEC dbo.usp_AlbumData @file
			END
		ELSE IF @fileName LIKE ('%track%')
			BEGIN
				EXEC dbo.usp_TrackData @file
			END
		ELSE
			SELECT CONCAT(@fileName, ' - Unknown file, skipping...')



		FETCH NEXT FROM fileCursor INTO @fileName, @file
	END


END
GO
/****** Object:  StoredProcedure [dbo].[usp_TrackData]    Script Date: 1/27/2026 9:37:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
	EXECUTE TheAudioDB_API.dbo.usp_TrackData 'G:\JSON Artist Data\Arctic_Monkeys\Arctic_Monkeys_2393442_trackData_2026-01-16.json'
*/

CREATE PROCEDURE [dbo].[usp_TrackData] (
	@file varchar(1000) 
)
AS
BEGIN

	DECLARE @JSON_OBJ VARCHAR(MAX)
	DECLARE @SQLCommand NVARCHAR(MAX) = 'SELECT @JSON_OBJ = BulkColumn FROM OPENROWSET(BULK ''' + @file + ''', SINGLE_CLOB) JSON'
	DECLARE @Params NVARCHAR(MAX) = '@JSON_OBJ VARCHAR(MAX) OUTPUT'
	DECLARE @DeleteCount INT = 0
	DECLARE @InsertCount INT = 0

	EXEC sp_executesql @SQLCommand, @Params, @JSON_OBJ OUTPUT

	IF(ISJSON(@JSON_OBJ) = 1)
		BEGIN
			/*	Pull JSON values to Temp Table	*/
			SELECT NULLIF(JSON_VALUE(A.VALUE, '$.idTrack'),'') AS idTrack,
				NULLIF(JSON_VALUE(A.VALUE, '$.idAlbum'),'') AS idAlbum,
				NULLIF(JSON_VALUE(A.VALUE, '$.idArtist'),'') AS idArtist,
				NULLIF(JSON_VALUE(A.VALUE, '$.strTrack'),'') AS strTrack,
				NULLIF(JSON_VALUE(A.VALUE, '$.strAlbum'),'') AS strAlbum,
				NULLIF(JSON_VALUE(A.VALUE, '$.intDuration'),'') AS intDuration,
				NULLIF(JSON_VALUE(A.VALUE, '$.strGenre'),'') AS strGenre,
				NULLIF(JSON_VALUE(A.VALUE, '$.intTrackNumber'),'') AS intTrackNumber,
				NULLIF(JSON_VALUE(A.VALUE, '$.intLoved'),'') AS intLoved,
				NULLIF(JSON_VALUE(A.VALUE, '$.intScore'),'') AS intScore,
				NULLIF(JSON_VALUE(A.VALUE, '$.intScoreVotes'),'') AS intScoreVotes
			INTO #TrackData
			FROM OPENJSON (@JSON_OBJ, '$.track') AS A

			/*	Insert/update records into albumData table	*/
			DELETE FROM TheAudioDB_API.dbo.trackData 
			WHERE idTrack IN (SELECT idTrack FROM #TrackData)

			SET @DeleteCount = @@ROWCOUNT

			INSERT INTO TheAudioDB_API.dbo.trackData (
				[idTrack]
				,[idAlbum]
				,[idArtist]
				,[strTrack]
				,[strAlbum]
				,[intDuration]
				,[strGenre]
				,[intTrackNumber]
				,[intLoved]
				,[intScore]
				,[intScoreVotes]	)
			SELECT [idTrack]
				,[idAlbum]
				,[idArtist]
				,[strTrack]
				,[strAlbum]
				,[intDuration]
				,[strGenre]
				,[intTrackNumber]
				,[intLoved]
				,[intScore]
				,[intScoreVotes]
			FROM #TrackData

			SET @InsertCount = @@ROWCOUNT
			SELECT CONCAT(@DeleteCount, ' records deleted, ',@InsertCount, ' records inserted.')
		END

END
GO
USE [master]
GO
